nav.navbar {
  padding: 0 20px; }

nav .brand-logo {
  font-size: 18px; }

.container {
  width: 100%;
  margin: 10px 20px;
  padding: 20px 10px; }

table#brand-table {
  border-width: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-style: solid;
  border-collapse: separate;
  border-color: lightgrey; }
  table#brand-table td {
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: lightgrey; }
  table#brand-table thead td {
    font-weight: 700; }
  table#brand-table thead i {
    vertical-align: bottom; }
  table#brand-table tbody td {
    font-weight: 400; }

.flash.success {
  background-color: #61fa61;
  font-weight: 500;
  padding: 20px;
  margin-bottom: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.pagination li {
  font-weight: 500; }
  .pagination li.active {
    background-color: white;
    border-bottom: #448AFF 2px solid; }
    .pagination li.active a {
      text-decoration: underline;
      text-decoration-color: #448AFF;
      color: black; }

.pagination .three-dots {
  margin-top: 5px; }
